body {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/bamboo-background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.page-landing{
  h1{
    color: $color-lightest;
  }
  .jumbotron{
    background-color: rgba(255,255,255,0.8);
  }
}

