body {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/bamboo-background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.page-landing{
  h1{
    color: $color-lightest;
    margin: 300px auto;
    font-family: fantasy;
    text-shadow: 2px 2px 11px black;
    font-size: 3em;
  }
  .well{
    background-color: rgba(255,255,255,0.9);
    padding: 3em;
    font-size: 1.5em;
  }
}

