<h1 class="text-center">Fudoshin Dojo</h1>

<div class="well well-lg lead">
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <p>
        A Bujinkan Fudoshin Dojo 1991 óta oktatja Szegeden az érdeklődőknek a Bujinkan Budo Taijutsu nevű japán harcművészeti stílust. Több néven is nevezik a Budo Taijutsu-t, úgymint Ninpo Taijutsu, Shinobi-Jutsu, vagy legismertebb nevén Ninjutsu. A Ninjutsu (nindzsucu) név mindazonáltal nem helytálló, mert a Bujinkan Budo Taijutsu összesen kilenc régi japán harcművészeti stílusból áll, amelyekből hat szamuráj és három ninja (nindzsa).
      </p>
    </div>
  </div>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>

  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>

  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>

  <p>Spectacular Test Runner for JavaScript.</p>
</div>
